<div class="panel panel-black pageHeader" style="margin-bottom: 35px;">
	<div class="panel-heading">
		<h3 class="panel-title">
			<i class="fa fa-globe"></i> - Register Employee
		</h3>
	</div>
</div>

<form class="form-horizontal" role="form">
	<div class="form-group">
		<label
			class="control-label col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2"
			for="fname">First Name:</label>
		<div class="col-lg-6 col-md-6 col-sm-10">
			<input class="form-control" id="fname" placeholder="First Name"
				ng-model="fName" />
		</div>
	</div>
	<div class="form-group">
		<label path="lastName"
			class="control-label col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2"
			for="lname">Last Name:</label>
		<div class="col-lg-6 col-md-6 col-sm-10">
			<input class="form-control" id="lname" placeholder="Last Name"
				ng-model="lName" />
		</div>
	</div>
	<div class="form-group">
		<label
			class="control-label col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2"
			for="email">Email:</label>
		<div class="col-lg-6 col-md-6 col-sm-10">
			<input type="email" class="form-control" id="email"
				placeholder="Email" ng-model="email" />
		</div>
	</div>
	<div class="form-group">
		<label
			class="control-label col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2"
			for="phoneNum">Phone Number:</label>
		<div class="col-lg-6 col-md-6 col-sm-10">
			<input class="form-control" id="phoneNum" placeholder="Phone Number"
				ng-model="phoneNum" />
		</div>
	</div>
	<div class="form-group">
		<label
			class="control-label col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2"
			for="pwd">Password:</label>
		<div class="col-lg-6 col-md-6 col-sm-10 controls">
			<input type="password" class="form-control" id="pwd"
				placeholder="Password" ng-model="pwd" />
		</div>
	</div>
	<div class="form-group">
		<label
			class="control-label col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2"
			for="pwdConf">Confirm Password:</label>
		<div class="col-lg-6 col-md-6 col-sm-10">
			<input type="password" class="form-control" id="pwdConf"
				placeholder="Confirm password" ng-model="pwd2" />
		</div>
	</div>
	<div class="form-group">
		<label
			class="control-label col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2">Location:</label>
		<div class="col-lg-6 col-md-6 col-sm-10">
			<div class="controls form-inline">
				<input type="text" class="form-control" placeholder="Address"
					id="address" style="width: 90%" />
				<button id="toggleMap" class="btn btn-custom" type="button"
					data-toggle="collapse" data-target="#collapseMap"
					aria-expanded="false" aria-controls="collapseMap"
					style="padding: 4px;" onclick="resizeMap()">
					<span class="glyphicon glyphicon-map-marker" data-toggle="tooltip"
						title="Select location on map"></span>
				</button>
			</div>
			<div class="row">
				<div class="controls form-inline" style="margin-top: 10px">
					<label for="lat" class="control-label">Latitude</label> <input
						type="text" class="form-control" id="lat" ng-model="lat" /> <label
						for="lon" class="control-label" style="margin-left: 20px;">Longitude</label>
					<input type="text" class="form-control" id="lon" ng-model="lon" />
				</div>
			</div>
			<div class="collapse" id="collapseMap">
				<div style="margin-top: 10px">
					<div id="mapLocation"
						style="width: 100% px; height: 400px; clear: both;"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group form-actions">
		<div class="row">
			<div
				class="col-lg-offset-4 col-lg-1 col-md-offset-4 col-md-1 col-sm-offset-2 col-sm-3">
				<button ng-click="register()" class="btn btn-custom"
					ng-disabled="error || incomplete">
					<i class="fa fa-user-plus"></i> Register
				</button>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-2">
				<button type="reset" class="btn btn-danger" style="opacity: 0.8; margin-left: 10px;">Clear</button>
			</div>
		</div>
	</div>
</form>

<script>
	$('#mapLocation').locationpicker({
		location : {
			latitude : 53.2884615,
			longitude : -6.3525261
		},
		zoom : 11,
		radius : 2000,
		inputBinding : {
			latitudeInput : $('#lat'),
			longitudeInput : $('#lon'),
			radiusInput : null,
			locationNameInput : $('#address')
		},
		enableAutocomplete : true
	});
	document.getElementById("toggleMap").onclick = function() {
		setTimeout(function() {
			$('#mapLocation').locationpicker('autosize');
		}, 300);
	};
</script>