
<div class="panel panel-black pageHeader" style="margin-bottom: 20px;">
	<div class="panel-heading">
		<h3 class="panel-title">
			<i class="fa fa-globe"></i> - Employees
		</h3>
	</div>
</div>

<div style="margin-bottom: 15px;">
	<a href="/employee/add">
		<button class="btn btn-custom">
			<i class="fa fa-user-plus"></i> New Employee
		</button>
	</a>
</div>

<div class="row" style="margin-bottom: 50px;">
	<div class="btn-group col-lg-12" role="group" aria-label="">
		<button type="button" class="btn btn-default col-lg-4" ng-click="getAssigned()">ACTIVE</button>
		<button type="button" class="btn btn-default col-lg-4" ng-click="getAll()">ALL</button>
		<button type="button" class="btn btn-default col-lg-4" ng-click="getUnassigned()">INACTIVE</button>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="table-responsive">
			<div class="col-lg-3" style="margin-bottom: 20px; margin-left: -15px;">
				<input class="form-control" placeholder="Search..."
					ng-model="searchText" />
			</div>
			<table class="table" ts-wrapper>
				<thead>
					<tr>
						<th ts-criteria="firstName|lowercase">First Name</th>
						<th ts-criteria="lastName|lowercase" ts-default>Last Name</th>
						<th ts-criteria="email|lowercase">Email</th>
						<th>Phone</th>
						<th ts-criteria="reportId|parseInt">Report</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="emp in emps | filter:searchText" ts-repeat>
						<td>{{emp.firstName}}</td>
						<td>{{emp.lastName}}</td>
						<td>{{emp.email}}</td>
						<td>{{emp.phoneNum}}</td>
						<td>
						
						<span ng-if="emp.reportId">
								<button
									ng-click="showReport(emp.reportId)" class="btn btn-custom"
										data-toggle="tooltip" title="View Report">
									<i class="fa fa-map-marker" style="margin-right: 5px;"></i> {{emp.reportId}}
								</button>
						</span>
						 
						
						<span ng-if="!emp.reportId">
								<button
									ng-click="assign(emp.email, emp.latitude, emp.longitude)"
									class="btn btn-custom" data-toggle="tooltip" title="Assign Task">
									<i class="fa fa-wrench"></i>
								</button>
						</span>
						</td>
						<td>
							<button ng-click="openDisplay(emp)" class="btn btn-custom" 
								data-toggle="tooltip" title="View Details">
								<i class="fa fa-info-circle"></i>
							</button>
							<button ng-click="openRemove(emp)" class="btn btn-custom"
								data-toggle="tooltip" title="Remove Employee">
								<i class="fa fa-user-times"></i>
							</button>						
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/ng-template" id="removeEmployee.html">
<div class="modal-header">
	<h3 class="modal-title">Remove Employee</h3>
</div>
<div class="modal-body">
	<div class="row">
		<span ng-if="employee.reportId">
			<div class="alert alert-warning col-lg-10 col-lg-offset-1">
				{{ employee.firstName }} {{ employee.lastName }} is currently assigned to Report {{ employee.reportId }}
			</div>
		</span>
	</div>
	<div class="row">
		<div class="col-lg-12">
			Are you sure you want to remove {{ employee.firstName }} {{ employee.lastName }}?
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-custom" ng-click="ok()">Remove</button>
	 <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
</script>
<script type="text/ng-template" id="unassignedReport.html">
<div class="modal-header">
	<h3 class="modal-title">Open Reports</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-lg-12">
			<div class="table-responsive">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>Report ID</th>
							<th>Name</th>
							<th>Assign</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="report in reports">
							<td>{{report.id}}</td>
							<td>{{report.name}}</td>
							<td>
								<button ng-click="assignReport(report.id)" class="btn btn-custom"><i class="fa fa-street-view"></i> Assign</button>
							</td>						
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
</script>
