
<div class="panel panel-black pageHeader" style="margin-bottom: 20px;">
	<div class="panel-heading">
		<h3 class="panel-title">
			<i class="fa fa-globe"></i> - Employees
		</h3>
	</div>
</div>

<div style="margin-bottom: 15px;">
	<a href="#/employee/add">
		<button class="btn btn-custom">
			<i class="fa fa-user-plus"></i> New Employee
		</button>
	</a>
</div>

<div class="row" style="margin-bottom: 50px;">
	<div class="btn-group col-lg-12" role="group" aria-label="">
		<button type="button" class="btn btn-default col-lg-4"
			ng-click="getAssigned()">ACTIVE</button>
		<button type="button" class="btn btn-default col-lg-4"
			ng-click="getAll()">ALL</button>
		<button type="button" class="btn btn-default col-lg-4"
			ng-click="getUnassigned()">INACTIVE</button>
	</div>
</div>

<div class="row">
	<div class="alert alert-danger col-lg-8 col-lg-offset-2"
		ng-show="empError">
		<span><i class="fa fa-times"></i> {{ errorMessage }}</span>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="table-responsive">
			<div class="col-lg-3"
				style="margin-bottom: 20px; margin-left: -15px;">
				<input class="form-control" placeholder="Search..."
					ng-model="searchText" />
			</div>
			<div class="col-lg-1" ng-if="searchText.length && !filteredEmps.length">
				<button ng-click="search(searchText)" class="btn btn-custom"
					data-toggle="tooltip" title="Search by email">
					<i class="fa fa-search"></i>
				</button>
			</div>
			<div class="col-lg-3" ng-if="searchError">
				<h4 style="color: #00FFFF'">Search produced no results</h4>
			</div>
			<table class="table" ts-wrapper>
				<thead>
					<tr>
						<th ts-criteria="firstName|lowercase">First Name</th>
						<th ts-criteria="lastName|lowercase" ts-default>Last Name</th>
						<th ts-criteria="email|lowercase">Email</th>
						<th>Phone</th>
						<th>Task</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="emp in filteredEmps = (emps | filter:searchText)" ts-repeat>
						<td>{{emp.firstName}}</td>
						<td>{{emp.lastName}}</td>
						<td>{{emp.email}}</td>
						<td>{{emp.phoneNum}}</td>
						<td><span ng-if="emp.reportId">
								<button ng-click="showReport(emp)" class="btn btn-custom"
									data-toggle="tooltip" title="View Report">
									<i class="fa fa-map-marker" style="margin-right: 5px;"></i>
									{{emp.reportId}}
								</button>
						</span> <span ng-if="!emp.reportId">
								<button ng-click="assign(emp)" class="btn btn-custom"
									data-toggle="tooltip" title="Assign Task">
									<i class="fa fa-wrench"></i>
								</button>
						</span></td>
						<td>
							<button ng-click="openDisplay(emp)" class="btn btn-custom"
								data-toggle="tooltip" title="View Details">
								<i class="fa fa-info-circle"></i>
							</button>
							<button ng-click="openRemove(emp)" class="btn btn-custom"
								data-toggle="tooltip" title="Remove Employee">
								<i class="fa fa-user-times"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="col-lg-12 col-md-12"
				ng-if="emps.length && noMoreData !== true">
				<button ng-click="loadMore()"
					class="btn btn-custom col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
					<i class="fa fa-caret-down" style="margin-right: 5px;"></i> More
				</button>
			</div>
		</div>
	</div>
</div>