<div class="modal-header">
	<h3 class="modal-title">{{ emp.firstName }} {{ emp.lastName }}</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal col-lg-12" role="form">
		<div class="form-group">
			<label
				class="control-label col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2"
				for="email">Email:</label>
			<div class="col-lg-6 col-md-6 col-sm-10">
				<input ng-disabled="true" type="email" class="form-control"
					id="email" placeholder="Email" ng-model="emp.email" />
			</div>
		</div>
		<div class="form-group">
			<label
				class="control-label col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2"
				for="phoneNum">Phone Number:</label>
			<div class="col-lg-6 col-md-6 col-sm-10">
				<input ng-disabled="true" class="form-control" id="phoneNum"
					placeholder="Phone Number" ng-model="emp.phoneNum" />
			</div>
		</div>
		<div class="form-group">
			<label
				class="control-label col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2">Location:</label>
			<div class="col-lg-6 col-md-6 col-sm-10">
				<div>
					<style type="text/css" scoped>
.angular-google-map-container {
	height: 250px;
}
</style>
					<div style="margin-top: 10px">
						<div id="map_canvas">
							<ui-gmap-google-map center="map.center" zoom="map.zoom">
							<ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id"></ui-gmap-marker>
							</ui-gmap-google-map>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-custom" ng-click="cancel()">Close</button>
</div>
