
<div class="container">
	<h1>Employees</h1>
	<table class="table" style="margin-top: 50px;">
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Password</th>
			<th>Assigned</th>
			<th>Device</th>
		</tr>
		<tr ng-repeat="emp in emps">
			<td>{{emp.firstName}}</td>
			<td>{{emp.lastName}}</td>
			<td>{{emp.email}}</td>
			<td>{{emp.phoneNum}}</td>
			<td>{{emp.password}}</td>
			<td>{{emp.report.id}}</td>
			<td>{{emp.deviceId}}</td>
			<td>
				<button ng-click="assign(emp.email, emp.latitude, emp.longitude)"
					class="btn btn-primary">Assign</button>
			</td>
		</tr>
	</table>
</div>
<div class="container">
	<h1>Appropriate Reports</h1>
	<table class="table">
		<tr>
			<th>Report ID</th>
			<th>Name</th>
			<th>Assign</th>
		</tr>
		<tr ng-repeat="report in reports">
			<td>{{report.id}}</td>
			<td>{{report.name}}</td>
			<td>
				<button ng-click="assignReport(report.id)" class="btn btn-primary">Assign</button>
			</td>
		</tr>
	</table>
</div>

<div class="modal fade" my-modal id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<table class="table">
					<tr>
						<th>Report ID</th>
						<th>Name</th>
						<th>Assign</th>
					</tr>
					<tr ng-repeat="report in reports">
						<td>{{report.id}}</td>
						<td>{{report.name}}</td>
						<td>
							<button ng-click="assignReport(report.id)"
								class="btn btn-primary">Assign</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>		
